.idea
.gradle

.gradle/
**/build/
**/captures/
.externalNativeBuild/
.cxx/

local.properties

.idea/
*.iml

.DS_Store
Thumbs.db

*.jks
*.keystore

reference-docs/output/*
reference-docs/jadx-export/*

.claude

reference-docs

graphify-out

gradlew
gradlew.bat
gradle-wrapper.jar
gradle-wrapper.properties